<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link rel="stylesheet" type="text/css" href="../Styles/style.css">
    </head>
    <body>
        
        <header>
            <a href="#" class="logo"><img src="../Images/logo.png" width="70px" height="70px"></a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="http://localhost:5050/users/login">Login</a></li>
                <li><a href="http://localhost:5050/users/register">Registration</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="study.html">Study</a></li>
            </ul>
        </header>
        <div class="section1">
            
            <div class="container">
                <div class="content-section">
                    <div class="title">
                        <h1>About Us</h1>
                    </div>
                    <div class="box">
                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam soluta quidem, explicabo id voluptatibus voluptates hic voluptatum quibusdam quod excepturi, aspernatur dolorem tenetur, expedita distinctio delectus ullam. Illum dolores quis deserunt id, explicabo eligendi pariatur ab!</p>
                        <div class="button">
                            <a href=" ">Read More</a>
                        </div>
                    </div>
                    <div class="social">
                        <a href=" "><i class="fab fa-facebook-f"></i></a>
                        <a href=" "><i class="fab fa-twitter"></i></a>
                        <a href=" "><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    </body>

</html>