<!DOCTYPE html>
<html>
    <head>
        <title>Courses</title>
        <link rel="stylesheet" href="../Styles/style3.css">
    </head>
    <body>
        <header>
            <a href="#" class="logo"><img src="../Images/logo.png" width="70px" height="70px"></a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="http://localhost:5050/users/login">Login</a></li>
                <li><a href="http://localhost:5050/users/register">Registration</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="study.html">Study</a></li>
            </ul>
        </header>
        <div class="menu-header">
            <ul>
                <li><a href="course.html">Course</a></li>
                <li><a href="ide.html">IDE</a></li>
                <li><a href="project.html">Project Ideas</a></li>
                <li><a href="tech.html">Tech Syntax</a></li>
            </ul>
        </div>
        <section class="course" id="course">

            <h1 class="heading">Fundamental courses</h1>    
            
            <div class="box-container">
            
                <div class="box">
                    <img src="../Images/course1.jpeg" alt="">
                    <div class="content">
                        <h1 class="title">Machine Learning </h1>
                        <p>Fundamental Course by Andrew NG</p>
                        <div class="info">
                            <a href="https://www.youtube.com/playlist?list=PLLssT5z_DsK-h9vYZkQkYNWcItqhlRJLN", target="_blank"><button type="button">Start Course</button></a>
                        </div>
                    </div>
                </div>
            
                <div class="box">
                    <img src="../Images/course2.jpeg" alt="">
                    <div class="content">
                        <h1 class="title">Deep Learning</h1>
                        <p>Deep Learning Fundamental Course by Andrew NG</p>
                        <div class="info">
                            <a href="https://www.youtube.com/playlist?list=PLpFsSf5Dm-pd5d3rjNtIXUHT-v7bdaEIe",  target="_blank"><button type="button">Start Course</button></a>
                        </div>
                    </div>
                </div>
            
                <div class="box">
                    <img src="../Images/course3.jpeg" alt="">
                    <div class="content">
                        <h1 class="title">AI for Everyone</h1>
                        <p>Fundamental AI course by Andrew NG</p>
                        <div class="info">
                            <a href="https://www.youtube.com/playlist?list=PLjF7dMeHalL8GU2Xh7vY6xn8kPlaKhpGw", target="_blank"><button type="button">Start Course</button></a>
                        </div>
                    </div>
                </div>
            
                <div class="box">
                    <img src="../Images/course4.jpeg" alt="">
                    <div class="content">
                        <h1 class="title">NLP</h1>
                        <p>Fundamental NLP course by Stanford University</p>
                        <div class="info">
                           <a href="https://www.youtube.com/playlist?list=PLLssT5z_DsK8HbD2sPcUIDfQ7zmBarMYv", target="_blank"> <button type="button">Start Course</button></a>
                        </div>
                    </div>
                </div>
            
                <div class="box">
                    <img src="../Images/course5.jpeg" alt="">
                    <div class="content">
                        <h1 class="title">Computer Vision</h1>
                        <p>Fundamental Course for Computer Vision</p>
                        <div class="info">
                            <a href="https://www.youtube.com/playlist?list=PLf7L7Kg8_FNxHATtLwDceyh72QQL9pvpQ", target="_blank"><button type="button">Start Course</button></a>
                        </div>
                    </div>
                </div>
            
                <div class="box">
                    <img src="../Images/course6.jpeg" alt="">
                    <div class="content">
                        <h1 class="title">Mathematics for Machine Learning</h1>
                        <p>Fundamental Mathematics Course by IIT Roorkee </p>
                        <div class="info">
                            <a href="https://www.youtube.com/playlist?list=PLLy_2iUCG87D1CXFxE-SxCFZUiJzQ3IvE", target="_blank"><button type="button">Start Course</button></a>
                        </div>
                    </div>
                </div>
            
            </div>
            
            </section>
    </body>
</html>