<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="../Styles/style.css">
    </head>
    <body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#" class="logo"><img src="../Images/logo.png" width="70px" height="70px"></a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="http://localhost:5050/users/login">Login</a></li>
                <li><a href="http://localhost:5050/users/register">Registration</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="study.html">Study</a></li>
            </ul>
        </header>
        <div class="content">
            <div class="textbox">
                <h2>Welcome to<br><span>Data Science</span> Club</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint architecto, alias saepe cum beatae incidunt vero explicabo in quod illo minus excepturi veritatis omnis. Corporis, ea. Tenetur ad consequatur quas sed quibusdam aut. Labore pariatur culpa rem unde reprehenderit ipsam magni.</p>
            </div>
            <div class="imgBox">
            <img src="../Images/img1.png" class="pic1" width="400px" height="300px">
            </div>
        </div>
        <ul class="thumb">
            <li><img src="../Images/img2.png" onclick="imgSlider('../Images/img2.png')"></li>
            <li><img src="../Images/img3.jpeg" onclick="imgSlider('../Images/img3.jpeg')"></li>
            <li><img src="../Images/img1.png" onclick="imgSlider('../Images/img1.png')"></li>
        </ul>
    </section>
    <script type="text/javascript" src="../main.js"></script>
    </body>

</html>