<!DOCTYPE html>
<html>
    <head>
        <title>project-ideas</title>
        <link rel="stylesheet" href="../Styles/style3.css">
    </head>
    <body>
        <header>
            <a href="#" class="logo"><img src="../Images/logo.png" width="70px" height="70px"></a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="http://localhost:5050/users/login">Login</a></li>
                <li><a href="http://localhost:5050/users/register">Registration</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="study.html">Study</a></li>
            </ul>
        </header>
        <div class="menu-header">
            <ul>
                <li><a href="course.html">Course</a></li>
                <li><a href="ide.html">IDE</a></li>
                <li><a href="project.html">Project Ideas</a></li>
                <li><a href="tech.html">Tech Syntax</a></li>
            </ul>
        </div>
        <section class="vendor" id="vendor">
            <div class="box-container">
        
                <div class="box">
                    <img src="../Images/proj2.png" alt="">
                    <div class="info">
                        <h2>Beginner</h2>
                        <a href="https://www.kaggle.com/rajyellow46/wine-quality" target="_blank"><h5>1. Wine Quality Analysis</h5></a><br>
                        <a href="https://www.kaggle.com/schirmerchad/bostonhoustingmlnd" target="_blank"><h5>2. Boston House Predication</h5></a><br>
                        <a href="https://www.kaggle.com/c/titanic" target="_blank"><h5>3. Survival Predication</h5></a><br>
                        <a href="https://www.kaggle.com/brijbhushannanda1979/bigmart-sales-data" target="_blank"><h5>4. Bigmart Sales Prediction</h5></a><br>
                        <a href="https://www.kaggle.com/epa/epa-historical-air-quality" target="_blank"><h5>5. Air Pollution Prediction</h5></a><br>
                    </div>
                </div>
        
                <div class="box">
                    <img src="../Images/proj1.jpeg" alt="">
                    <div class="info">
                        <h2>Intermediate</h2>
                        <a href="https://www.kaggle.com/veleon/ham-and-spam-dataset" target="_blank"><h5>1. Spam Email Classification</h5></a><br>
                        <a href="https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset" target="_blank"><h5>2. IMDB Predication</h5></a><br>
                        <a href="https://www.kaggle.com/c/web-traffic-time-series-forecasting" target="_blank"><h5>3. Web Traffic Time Forcasting</h5></a><br>
                        <a href="https://www.kaggle.com/akhilups/insurance-product-purchase-prediction" target="_blank"><h5>4. Insurance Price Prediction</h5></a><br>
                        <a href="https://www.kaggle.com/datatattle/covid-19-nlp-text-classification" target="_blank"><h5>5. Tweets Classification</h5></a><br>
                    </div>
                </div>
        
                <div class="box">
                    <img src="../Images/proj3.jpeg" alt="">
                    <div class="info">
                        <h2>Advanced</h2>
                        <a href="https://www.kaggle.com/grafstor/simple-dialogs-for-chatbot" target="_blank"><h5>1. Chatbot</h5></a><br>
                        <a href="https://www.kaggle.com/clmentbisaillon/fake-and-real-news-dataset" target="_blank"><h5>2. Fake News Detection</h5></a><br>
                        <a href="https://www.kaggle.com/dheerajperumandla/drowsiness-dataset" target="_blank"><h5>3. Driver Drowiness Detection</h5></a><br>
                        <a href="https://www.kaggle.com/datamunge/sign-language-mnist" target="_blank"><h5>4. sign Language Recognition</h5></a><br>
                        <a href="https://www.kaggle.com/ejlok1/cremad" target="_blank"><h5>5. Speech Emotion Recognition </h5></a><br>
                    </div>
                </div>
        
        
            </div>
        
        </section>
    
    </body>
</html>