@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
:root{
  --pink:#7df3b8;
  --black:#130f40;
}
*::selection{
  background:var(--pink);
  color:#fff;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

body { 
  background:#6ed8ac;
}



section{
  padding: 5rem 9%;
  position: relative;
  width: 100%;
  min-height: 150vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
  transform:translateX(-5%);
 
}
.title 
{
    text-transform: uppercase;
    font-size:28px;
    color:#044d14;
    height: 800px;
    width : 350px;
    transform:translateX(300%);
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border:.2rem solid var(--black);
  color:var(--black);
  font-size: 1.7rem;
  padding:.8rem 3rem;
  cursor: pointer;
  background: none;
}

.btn:hover{
  background: var(--pink);
  border-color: var(--pink);
  color:rgb(0, 0, 0);
}

header
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    max-width: 80px;
    padding : 5px 150px;
}
header ul 
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style:none;
}

header ul li a
{
    display: inline-block;
    color: #333;
    font-weight:400;
    margin-left: 40px;
    text-decoration: none;
    font-size: 16px;
}




.vendor .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.vendor .box-container .box{
  flex:1 1 30rem;
  margin:1rem;
  overflow: hidden;
  position: relative;
  border-radius: .5rem;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.9);
  height: 25rem;
  cursor: pointer;
}

.vendor .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.vendor .box-container .box .info{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0; left: 0;
  height: 100%;
  width: 100%;
  background:rgba(255,255,255,.8);
  text-align: center;
  transform: scale(1.3);
  opacity: 0;
}

.vendor .box-container .box:hover .info{
  transform: scale(1);
  opacity: 1;
}

.vendor .box-container .box:hover img{
  transform: scale(1.3);
}

.vendor .box-container .box .info h3{
  font-size: 3rem;
  color:var(--black);
}

.vendor .box-container .box .info p{
  font-size: 1.7rem;
  color:#333;
  padding:1rem;
}














/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem 4%;
  }

  section{
    padding:3rem 4%;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: block;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right: 0;
    background:var(--black);
    padding:1rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.nav-toggle{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    display: block;
    background:#fff;
    border-radius: .5rem;
    color:var(--black);
    margin:1.5rem;
    padding:1rem 2rem;
    font-size: 2.5rem;
  }

  .home{
    justify-content: center;
    background-position: left;
  }

  .home .content{
    text-align: center;
  }

  .home .content span{
    font-size: 2rem;
  }

  .home .content h3{
    font-size: 4rem;
    width:auto;
  }

  .clients .row{
    flex-flow: column;
  }

  .clients .row .divider{
    display: none;
  }

  .clients .row .box-container:last-child .box{
    display: flex;
    flex-flow: column-reverse;
  }

  .contact form .inputBox input{
    width:100%;
  }

}


@media (max-width:450px){

  html{
    font-size: 50%;
  }

}
